<div class="links">
<ul>
  <li>
    <%= form_tag albums_path, method: :get, remote: true do %>
      <%= text_field_tag :query %>
      <%= submit_tag "search" %>
    <% end %>
  </li>
</ul>
</div>

<div id="albums">
  <%= render partial: "albums", locals: { albums: @albums }%>
</div>
